p.MsoNormal(align='left', style='text-align:left')
  b(lang='EN-US', style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:#0000CC')
    | Best Regards,
p.MsoNormal(align='left', style='text-align:left')
  span(lang='EN-US', style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D')
    | ----------------------------------------------------------------------------------------------------------------------
table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm')
  tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;height:10.7pt')
    td(nowrap='', style='border:none;border-right:solid white 1.0pt;background:#E10601;\
    padding:0cm 7.5pt 0cm 7.5pt;height:10.7pt')
      p.MsoNormal(align='center', style='text-align:center')
        b(style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:white') 百度
    td(nowrap='', style='background:#2319DC;padding:0cm 6.75pt 0cm 6.75pt;height:10.7pt')
      p.MsoNormal(align='center', style='text-align:center;line-height:11.25pt')
        b(style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:white') 钱包及支付发展部
    td(nowrap='', style='background:white;padding:0cm 3.75pt 0cm 6.0pt;height:10.7pt')
      p.MsoNormal(align='center', style='text-align:center;line-height:11.25pt')
        b(style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D') 技术研发部 李海波
p.MsoNormal(align='left', style='text-align:left')
  span(lang='EN-US', style='font-size:10.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D') Add: 
  span(style='font-size:10.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D')
    | 北京市海淀区上地东路1号盈创动力园区D座鹏寰大厦 F7-B022（100085）
p.MsoNormal(align='left', style='text-align:left')
  span(lang='EN-US', style='font-size:10.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D')
    | Hi: ssddi456  Mobile: 18600950615  E-mail:  
    a(href='mailto:#{sender}')= sender
p.MsoNormal(align='left', style='text-align:left')
  span(lang='EN-US', style='font-size:11.0pt;font-family:"微软雅黑","sans-serif";color:#1F497D')
    | ----------------------------------------------------------------------------------------------------------------------
